body{
    color: #fff;
    background-color: lightyellow;
    font-size:16px;
}
#header-nav{
    border-radius: 0px;
    border: 0px;
    background-color: yellow;
}
.navbar-brand{
    padding-top: 20px;
}
.navbar-brand h1{

    color: black;
    text-transform: uppercase;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0.75;
} 
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}
#nav-list li{
    margin: 0px;;
}
#nav-list hr{
    margin-bottom: 5px;
    margin-top: 5px;
}
#collapsable-nav{
    /*background-color:lightgreen;*/
} 
#nav-list{
    margin-top: 10px;
    color: red;
    font-size: 1.2em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border: 1px solid black;
}
.navbar-header button.navbar-toggle{
    clear:both;
    margin-top: -30px;
}
h2{
    text-align: center;
   
    color: rgb(49, 7, 7);
}
#dummy-text{
    height: 400px;
    border: 1px solid black;
    margin-bottom: 20px;
}
h3{
    text-align: center;
    color: blue;
}
p{
    color: black;
    text-align: center;
}